# Conversational Interface
chainlit

# AI Orchestration
langchain
langchain-google-genai
langgraph

# RAG and Vector Database
chromadb
sentence-transformers
langchain-community

# Data and Scenario Manipulation
xlwings
pandas

# Credential Security
python-dotenv
